### Python ###
__pycache__/
*.py[cod]
*.so

### Jupyter Notebooks ###
.ipynb_checkpoints

### Environments ###
.env
.venv
env/
venv/

### PyTorch & Transformers cache ###
~/.cache/
~.hf_cache/*
hf_cache/*
huggingface/
models/
outputs/
/.hf_cache/
wandb/



temp.txt
checkpoints/